<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Banner.css">
</head>
<body>
    <div class="container">
        <h1>Your Blog 1</h1>
        <p class="play">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque est praesentium aspernatur, quasi recusandae rem dolore. A, fugit assumenda! Illo magnam esse odit provident deserunt omnis excepturi voluptatum id, enim, voluptas dolores delectus repellendus aliquid velit inventore similique quasi quae corrupti quidem necessitatibus accusantium pariatur suscipit molestiae nesciunt. Voluptas quasi nam placeat quae repellat, facere distinctio, molestiae quia incidunt magni reiciendis fuga sint. Eius sunt natus doloremque omnis. Ducimus, recusandae...
            <a>click here to learn more.</a>
        </p>
    </div>
</body>
</html>